body, html, canvas {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    height: 100%;
    width: 100%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}