body, html, canvas {
    background: #000000;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    height: 100%;
    width: 100%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: url('INCLUDE(septic.png,TILE,9,14)') 16 16, auto;
}
border {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    image-rendering: pixelated;
    border: 3.846153846153846vmin solid transparent;
}
#b0 {
    border-image: url('INCLUDE(septic.png,FRAME,7,3)') 16 round;
    display: block;
}
#b1 {
    border-image: url('INCLUDE(septic.png,FRAME,4,3)') 16 round;
    display: none;
}
#b2 {
    border-image: url('INCLUDE(septic.png,FRAME,4,3)') 16 round;
    display: none;
}
#b3 {
    border-image: url('INCLUDE(septic.png,FRAME,4,3)') 16 round;
    display: none;
}
#b4 {
    border-image: url('INCLUDE(septic.png,FRAME,3,3)') 16 round;
    display: none;
}